* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F2FF;
    font-family: 'poppins';
}


/* Responsive */


/* styles for the scroll bar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: #666464;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #040403;
    transition: 1.2s;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 0.7rem;
    overflow: hidden;
}


/*styles for nav bar*/

#nav-container {
    display: grid;
    grid-template-columns: 1fr;
    background: transparent;
    width: 100%;
    height: 10%;
    position: absolute;
    transition: .5s;
    z-index: 1000;
    padding: 0 1rem 1rem 1rem;
}

.nav-container:hover {
    box-shadow: 0px 2px 4px #8f8b8b;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem;
}

.nav-link-wrapper {
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-wrapper a {
    background: transparent;
    width: auto;
    margin: 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    font-size: 12px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    color: #040403;
}

.nav-link-wrapper a i {
    font-size: 12px;
    font-weight: 700;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.services-explore {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.services-explore a {
    color: #040403;
}

.dropdown:hover .services-explore {
    display: block;
}

.nav-link-wrapper a:hover {
    color: #2386AD;
    transition: 0.3s;
}

.nav-wrapper .left-side {
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    padding: .2rem;
}

.nav-wrapper .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.brand {
    color: #F6F2FF;
    font-size: 20px;
    font-weight: 900;
    font-family: 'poppins', sans-serif;
}

.nav-wrapper .right-side button {
    background: #2386AD;
    width: 90px;
    height: 40px;
    margin-left: .5rem;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
}

.nav-wrapper .right-side button a {
    width: 100%;
    color: #F6F2FF;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: .7rem;
}

.nav-wrapper .right-side button:hover {
    cursor: pointer;
}

span {
    position: absolute;
    z-index: 10000000;
    background: #F6F2FF;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate .7s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        opacity: 0.2;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}


/* styles for about page */

.about-container {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 4rem 4rem;
}

.about-content-wrapper {
    margin-top: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 6px 20px #e9e8e8;
    padding: 2rem 2rem;
}

.about-content-wrapper:hover img {
    filter: grayscale(10%);
}

.about-content-wrapper:hover .about-image-container {
    transform: translateY(-5px);
    border-bottom: 2px solid #e9e8e8;
}

.about-description-wrapper {
    background: transparent;
    width: 50%;
    padding: 2rem 2rem;
}

.about-description-wrapper h1 {
    margin-top: 1.5rem;
    font-weight: 800;
    font-size: 40px;
}

.about-description-wrapper h3 {
    font-weight: 600;
}

.about-description-wrapper p {
    margin-top: 1.5rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    background: transparent;
    width: 100%;
}

.about-image-container {
    width: 40%;
    height: 360px;
    background: transparent;
    padding: 2rem 2rem;
    transition: transform .2s;
}

.about-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(80%);
    transition: .3s;
}

.our-team-container {
    height: 100%;
    width: 100%;
    padding: 4rem 4rem;
}

.our-team-content-wrapper {
    width: 100%;
    height: 100%;
    box-shadow: 0px 6px 20px #e9e8e8;
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.our-team-description-wrapper-developers-section {
    background: transparent;
    width: 100%;
    height: 100%;
}

.our-team-description-wrapper-developers-section h1 {
    margin-top: 1.5rem;
    font-weight: 800;
    font-size: 40px;
}

.our-team-description-wrapper-developers-section h3 {
    font-weight: 600;
}

.our-team-description-wrapper-developers-section p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    background: transparent;
    width: 100%;
}

.our-team-developers-cards {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

.developers-card-container {
    background: transparent;
    width: 49.5%;
    height: 100%;
}

.developers-card-content-wrapper {
    background: #F6F2FF;
    padding: 1rem 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0px 6px 20px #e9e8e8;
    justify-content: space-between;
}

.developer-card-image-container {
    width: 100%;
    height: 100%;
}

.developer-card-image-container img {
    width: auto;
    height: 300px;
}

.developer-card-description-wrapper {
    background: transparent;
    width: 60%;
    padding: 1rem 1rem;
}

.developer-contact-button-container {
    background: transparent;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: flex-end;
}

.developer-contact-button-container button {
    width: 150px;
    height: 40px;
    border: transparent;
    background: #2386AD;
    border-radius: 5%;
}

.developer-contact-button-container button a {
    color: #F6F2FF;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 600;
}


/* Media Queries */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .about-container {
        padding: 1rem 1rem;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .about-content-wrapper {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
    }
    .about-image-container {
        width: 100%;
    }
    .about-description-wrapper {
        width: 100%;
    }
    .about-description-wrapper h1 {
        margin-top: 1.5rem;
        font-weight: 800;
        font-size: 30px;
    }
    .about-description-wrapper h3 {
        font-weight: 600;
        font-size: 18px;
    }
    .about-description-wrapper p {
        margin-top: 1.5rem;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        background: transparent;
        width: 100%;
    }
    .our-team-container {
        padding: 1rem 1rem;
    }
    .our-team-content-wrapper {
        padding: 3rem;
    }
    .our-team-developers-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .developers-card-container {
        width: 100%;
        height: 49.5%;
        margin-top: .5rem;
    }
    .developer-contact-button-container {
        background: transparent;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    .developer-card-image-container {
        width: 100%;
        height: 100%;
        background: transparent;
        display: flex;
        justify-content: center;
    }
    .developer-card-image-container img {
        width: auto;
        height: 150px;
    }
    .developer-card-description-wrapper {
        background: transparent;
        width: 60%;
        padding: 0rem 0rem;
    }
    .our-team-description-wrapper-developers-section h1 {
        margin-top: 1.5rem;
        font-weight: 800;
        font-size: 30px;
    }
    .our-team-description-wrapper-developers-section h3 {
        font-weight: 600;
        size: 18px;
    }
    .our-team-description-wrapper-developers-section p {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        background: transparent;
        width: 100%;
    }
    .developer-card-description-wrapper h1 {
        font-size: 16px;
        font-weight: 800;
    }
    .developer-card-description-wrapper p {
        font-size: 12px;
        line-height: 2.2;
        font-weight: 500;
    }
}