* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}


/* styles for the scroll bar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: #040403;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2386AD;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 0.7rem;
    overflow: hidden;
}


/*styles for nav bar

#nav-container {
    display: grid;
    grid-template-columns: 1fr;
    background: transparent;
    width: 100%;
    height: 10%;
    position: absolute;
    transition: .5s;
    z-index: 1000;
    padding: 0 1rem 1rem 1rem;
}

.nav-container:hover {
    box-shadow: 0px 2px 4px #8f8b8b;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem;
}

.nav-link-wrapper {
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-wrapper a {
    background: transparent;
    width: auto;
    margin: 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    font-size: 12px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    color: #040403;
}

.nav-link-wrapper a i {
    font-size: 12px;
    font-weight: 700;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.services-explore {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.services-explore a {
    color: #040403;
}

.dropdown:hover .services-explore {
    display: block;
}

.nav-link-wrapper a:hover {
    color: #2386AD;
    transition: 0.3s;
}

.nav-wrapper .left-side {
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    padding: .2rem;
}

.nav-wrapper .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.brand {
    color: #F6F2FF;
    font-size: 20px;
    font-weight: 900;
    font-family: 'poppins', sans-serif;
}

.nav-wrapper .right-side button {
    background: #2386AD;
    width: 90px;
    height: 40px;
    margin-left: .5rem;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
}

.nav-wrapper .right-side button a {
    width: 100%;
    color: #F6F2FF;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: .7rem;
}

.nav-wrapper .right-side button:hover {
    cursor: pointer;
}

span {
    position: absolute;
    z-index: 10000000;
    background: #F6F2FF;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate .7s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        opacity: 0.2;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

*/


/* signup content*/

.signup-container {
    display: flex;
    background: linear-gradient(135deg, #1E6091, #168AAD);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1rem 1rem;
}

.form-input-wrapper {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F2FF;
    box-shadow: 0px 6px 20px #168AAD;
    /*box-shadow: 0px 6px 20px #e9e8e8;*/
}

form {
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form label {
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: .5rem;
}

form input {
    margin: .5rem;
    padding: 0.5rem 0.5rem;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    width: 300px;
    height: 50px;
    background: transparent;
    border: 2px solid #acacac;
    border-radius: 5px;
    outline: transparent;
}

form input::placeholder {
    font-family: 'poppins', sans-serif;
    font-size: 10px;
}

.buttons-container {
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form input[type=submit] {
    margin-left: -1px;
    width: 140px;
    border: none;
    border-radius: 5px;
    outline: none;
    outline: none;
    height: 40px;
    background: #2386AD;
    font-size: 10px;
    color: #F6F2FF;
}

button {
    width: 140px;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
}

button a {
    text-decoration: none;
    font-family: 'poppins';
    font-size: 10px;
    color: #2386AD;
}

form input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px #2386ad7a;
    transition: .2s;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .signup-container {
        width: 100%;
        height: 100vh;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form input {
        width: 300px;
    }
    form input[type=submit] {
        padding: .5rem .5rem;
        width: 140px;
        border: none;
        border-radius: 5px;
        outline: none;
        outline: none;
        height: 40px;
        background: #2386AD;
        font-size: 10px;
        color: #F6F2FF;
    }
    form input[type=submit]:hover {
        cursor: pointer;
        box-shadow: 0px 0px 20px #2386ad7a;
        transition: .2s;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .signup-container {
        padding: 4rem 4rem;
    }
    .signup-form-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .signup-content-wrapper {
        width: 100%;
        display: flex;
        background: transparent;
        justify-content: space-between;
    }
    .form-input-wrapper {
        width: 600px;
        padding: 2rem 2rem;
    }
}