* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F2FF;
    margin: 0;
    padding: 0;
    width: 100%;
}


/* styles for the scroll bar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: #040403;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2386AD;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 0.7rem;
    overflow: hidden;
}


/*styles for nav bar

#nav-container {
    display: grid;
    grid-template-columns: 1fr;
    background: transparent;
    width: 100%;
    height: 10%;
    position: absolute;
    transition: .5s;
    z-index: 1000;
    padding: 0 1rem 1rem 1rem;
}

.nav-container:hover {
    box-shadow: 0px 2px 4px #8f8b8b;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem;
}

.nav-link-wrapper {
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-wrapper a {
    background: transparent;
    width: auto;
    margin: 0.5rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    font-size: 12px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    color: #040403;
}

.nav-link-wrapper a i {
    font-size: 12px;
    font-weight: 700;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.services-explore {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.services-explore a {
    color: #040403;
}

.dropdown:hover .services-explore {
    display: block;
}

.nav-link-wrapper a:hover {
    color: #2386AD;
    transition: 0.3s;
}

.nav-wrapper .left-side {
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    padding: .2rem;
}

.nav-wrapper .right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.brand {
    color: #F6F2FF;
    font-size: 20px;
    font-weight: 900;
    font-family: 'poppins', sans-serif;
}

.nav-wrapper .right-side button {
    background: #2386AD;
    width: 90px;
    height: 40px;
    margin-left: .5rem;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
}

.nav-wrapper .right-side button a {
    width: 100%;
    color: #F6F2FF;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: .7rem;
}

.nav-wrapper .right-side button:hover {
    cursor: pointer;
}

span {
    position: absolute;
    z-index: 10000000;
    background: #F6F2FF;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate .7s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        opacity: 0.2;
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

*/


/* signup content*/

.signup-container {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
}

.signup-content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: transparent;
}

.signup-desc-container {
    width: 400px;
    height: auto;
    background: transparent;
    padding: 1rem 1rem;
}

.signup-desc-container h1 {
    color: #040403;
    font-size: 40px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

.signup-desc-container p {
    margin-top: 2rem;
    line-height: 2.5;
    color: #040403;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

.signup-form-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: .5rem .5rem;
    height: 100%;
    background: transparent;
}

.signup-form-wrapper {
    width: 100%;
    height: 100%;
    background: #F6F2FF;
    padding: 1.5rem 1.5rem;
}

.form-input-wrapper {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 10px;
    display: flex;
    padding: 1rem 1rem;
    box-shadow: 0px 6px 20px #e9e8e8;
    /*box-shadow: 0px 6px 20px #e9e8e8;*/
}

form h1 {
    color: #040403;
    text-align: center;
    background: transparent;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

form label {
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin: .5rem;
}

form input {
    margin: .5rem;
    padding: 0.5rem 0.5rem;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    width: 250px;
    height: 30px;
    border: transparent;
    background: transparent;
    border-bottom: 1px solid #2386AD;
    outline: transparent;
}

form input::placeholder {
    font-family: 'poppins', sans-serif;
    font-size: 10px;
}

form input[type=date] {
    color: #8f8b8b;
    font-family: 'poppins', sans-serif;
    font-size: 10px;
    width: 150px;
}

form input[type=submit] {
    margin-top: 1.5rem;
    padding: .5rem .5rem;
    width: 200px;
    border: none;
    border-radius: 5px;
    outline: none;
    outline: none;
    height: 40px;
    background: #2386AD;
    color: #F6F2FF;
}

form input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0px 2px 6px #2386AD;
    transition: .3s;
}

.form-input-wrapper>.left button {
    margin-top: 2rem;
    width: 50%;
    height: 40px;
    background: #11e73f;
    border: transparent;
    border-radius: 5px;
    outline: none;
}

.form-input-wrapper>.left button a {
    color: #F6F2FF;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
    background: transparent;
}

form select {
    margin-top: 0.5rem;
    border: none;
    background: transparent;
    outline: none;
    margin-bottom: .5rem;
    color: #8f8b8b;
    font-family: 'poppins', sans-serif;
    font-size: 10px;
}

.step {
    display: block;
    width: 100%;
}

.step-2 {
    display: block;
    width: 100%;
}

.step-3 {
    display: block;
    width: 100%;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .signup-container {
        width: 100%;
        height: 100%;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .signup-desc-container {
        display: none;
    }
    .signup-form-container {
        width: 100%;
    }
    .form-input-wrapper {
        width: 100%;
    }
    form input {
        width: 250px;
    }
    .signup-content-wrapper {
        background: transparent;
        display: flex;
        justify-content: center;
    }
    .signup-form-container {
        padding: 0;
    }
}