* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}


/* styles for the scroll bar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: #474444;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2386AD;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 0.7rem;
    overflow: hidden;
}


/*styles for nav bar*/

#nav-container {
    display: grid;
    grid-template-columns: 1fr;
    background: #fff;
    color: black;
    width: 100%;
    min-height: 10vh;
    position: fixed;
    transition: .5s;
    z-index: 1000;
}

.nav-container:hover {
    box-shadow: 0px 2px 4px #8f8b8b;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem;
}

.nav-link-wrapper {
    background: transparent;
    height: 100%;
    margin-left: 4rem;
}

.nav-link-wrapper a {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    font-size: 12px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    color: #474444;
}

.nav-link-wrapper a:hover {
    color: #2386AD;
    transition: 0.3s;
}

.right-side {
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
    background: transparent;
    padding: .5rem .5rem;
}

.brand {
    color: #474444;
    font-size: 20px;
    font-weight: 900;
    font-family: 'poppins', sans-serif;
    padding-right: 2rem;
    padding-top: 0.3rem;
}

.right-side button {
    background: #2386AD;
    width: 80px;
    height: 30px;
    margin-left: .5rem;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
}

.right-side button a {
    width: 100px;
    color: #fff;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.right-side button:hover {
    cursor: pointer;
}


/* signup content*/

.signup-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 602.5px;
}

.signup-content-wrapper {
    display: flex;
    justify-content: space between;
}

.signup-desc-container {
    width: 400px;
    height: 602.5px;
    background: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 2rem;
    margin-left: 2rem;
}

.signup-desc-container h1 {
    color: #474444;
    font-size: 40px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    margin-top: 8rem;
}

.signup-desc-container p {
    margin-top: 2rem;
    line-height: 2;
    color: #2386AD;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

.signup-form-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 940px;
    padding: .5rem .5rem;
    height: 100vh;
    margin-left: 4rem;
    background: transparent;
    position: absolute;
}

.signup-form-wrapper {
    padding: 2rem 2rem;
    width: 70%;
    height: 100vh;
    margin-top: 1rem;
    margin-left: 3rem;
    background: transparent;
}

.form-input-wrapper .left {
    background: transparent;
}

.form-input-wrapper .right {
    background: transparent;
    margin-right: -.1rem;
}

.form-input-wrapper {
    margin-top: 0.5rem;
    border-radius: 10px;
    display: flex;
    background: #f5f5f5;
    box-shadow: 0px 6px 20px #e9e8e8;
    padding: 2rem 2rem;
    justify-content: space-between;
}

form h1 {
    color: #474444;
    margin-top: 2rem;
    text-align: center;
    background: transparent;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

form label {
    margin-top: 0.5rem;
    margin-right: 2rem;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

form input {
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
    font-family: 'poppins', sans-serif;
    font-size: 10px;
    width: 250px;
    height: 25px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #2386AD;
    outline: none;
    margin-bottom: .5rem;
}

form input::placeholder {
    font-family: 'poppins', sans-serif;
    font-size: 10px;
}

form input[type=date] {
    color: #8f8b8b;
    font-family: 'poppins', sans-serif;
    font-size: 10px;
}

.form-input-wrapper>.right label {
    margin-top: 3rem;
}

.form-input-wrapper>.right select {
    margin-bottom: 2.95rem;
}

form input[type=submit] {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    padding: .5rem .5rem;
    width: 200px;
    border: none;
    border-radius: 5px;
    outline: none;
    outline: none;
    height: 40px;
    background: #2386AD;
    color: #fff;
    margin-bottom: .5rem;
}

form input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0px 2px 6px #2386AD;
    transition: .3s;
}

.form-input-wrapper>.left button {
    margin-top: 1.5rem;
    height: 40px;
    background: transparent;
    border: 2px solid #11e73f;
    border-radius: 5px;
    outline: none;
}

.form-input-wrapper>.left button a {
    color: #11e73f;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    font-size: 10px;
}

form select {
    margin-top: 0.5rem;
    border: none;
    background: transparent;
    outline: none;
    margin-bottom: .5rem;
    color: #8f8b8b;
    font-family: 'poppins', sans-serif;
    font-size: 10px;
}