* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F2FF;
    overflow-x: hidden;
    font-family: 'poppins';
}

.container-fluid {
    background: transparent;
}


/* Responsive */


/* styles for the scroll bar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: #666464;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #040403;
    transition: 1.2s;
}

.header-container {
    background: transparent;
    padding: 1rem 1rem;
    width: 100%;
    height: 10%;
}

.header-content-wrapper {
    background: #F6F2FF;
    padding: 1rem 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 0px 6px 20px #e9e8e8;
}

.header-content-wrapper .heading-wrapper {
    background: transparent;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-wrapper h1 {
    color: #040403;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: main;
}

.item3 {
    grid-area: article;
}

.item4 {
    grid-area: section;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header main main main' 'header header header main main main' 'article article article section section section' 'article article article section section section';
    grid-gap: 10px;
    background: transparent;
    padding: 1rem;
    height: 82vh;
}

.grid-container>div {
    background: rgba(255, 255, 255, .6);
    height: 100%;
    background: #F6F2FF;
    box-shadow: 0px 6px 20px #e9e8e8;
}

.item1 .item1-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item2 .item1-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item3 .item1-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item4 .item1-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item1-content-wrapper .send-money-container {
    background: transparent;
    width: 100%;
    height: 60%;
}

.send-money-container .send-icon-wrapper {
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-icon-wrapper i {
    font-size: 2rem;
}

.item1-content-wrapper .send-button-container {
    width: 100%;
    height: 40%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-button-container button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding: .5rem .5rem;
    border: transparent;
    background: #2386AD;
    outline: transparent;
}

.send-button-container button a {
    color: #F6F2FF;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .header-content-wrapper .heading-wrapper {
        background: transparent;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heading-wrapper h1 {
        color: #040403;
        font-size: 18px;
        font-family: 'poppins', sans-serif;
        font-weight: bold;
    }
    .send-icon-wrapper i {
        font-size: 2.7rem;
    }
    .send-button-container button {
        width: 165px;
        height: 55px;
    }
}